# April Admin Employees

Last Updated: August 2024

Microsoft

Amazon

EasyID 9845

83

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

Software Engineer

* * *

Find the number of employees working in the Admin department that joined in April or later.

worker

\-------------------------

department    : VARCHAR

first\_name    : VARCHAR

joining\_date  : DATETIME2

last\_name     : VARCHAR

salary        : BIGINT

worker\_id     : BIGINT

In [ ]:
SELECT COUNT(worker_id) FROM worker
WHERE MONTH(joining_date) > 3 AND department = 'admin';