# Average Salaries

Last Updated: February 2025

Glassdoor

Salesforce

EasyID 9917

289

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

Compare each employee's salary with the average salary of the corresponding department. Output the department, first name, and salary of employees along with the average salary of that department.

Table: employee

  

employee

\---------------------------------------

address          : VARCHAR

age             : BIGINT

bonus           : BIGINT

city            : VARCHAR

department      : VARCHAR

email           : VARCHAR

employee\_title  : VARCHAR

first\_name      : VARCHAR

id              : BIGINT

last\_name       : VARCHAR

manager\_id      : BIGINT

salary          : BIGINT

sex             : VARCHAR

target          : BIGINT

In [ ]:
WITH cte AS(
    SELECT department, AVG(salary) AS avg_salary
    FROM employee
    GROUP BY department
    )

SELECT e.department, e.first_name, e.salary, c.avg_salary
FROM employee AS e
LEFT JOIN cte AS c
ON e.department = c.department;