# Number Of Bathrooms And Bedrooms

Last Updated: February 2025

Airbnb

EasyID 9622

221

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

Find the average number of bathrooms and bedrooms for each city’s property types. Output the result along with the city name and the property type.

Table: airbnb\_search\_details

  

airbnb\_search\_details

\--------------------------------------------------

accommodates              : BIGINT

amenities                 : VARCHAR

bathrooms                 : BIGINT

bed\_type                  : VARCHAR

bedrooms                  : BIGINT

beds                      : BIGINT

cancellation\_policy       : VARCHAR

city                      : VARCHAR

cleaning\_fee              : BIT

host\_identity\_verified    : VARCHAR

host\_response\_rate        : VARCHAR

host\_since                : DATETIME2

id                        : BIGINT

neighbourhood             : VARCHAR

number\_of\_reviews         : BIGINT

price                     : FLOAT

property\_type             : VARCHAR

review\_scores\_rating      : FLOAT

room\_type                 : VARCHAR

zipcode                   : BIGINT

In [ ]:
SELECT city,
    property_type,
    AVG(CAST(bathrooms AS FLOAT)), 
    AVG(CAST(bedrooms AS FLOAT))
FROM airbnb_search_details
GROUP BY city, property_type;