# Workers With The Highest Salaries

Last Updated: October 2024

Amazon

DoorDash

MediumID 10353

589

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

Find the job titles of the employees with the highest salary. If multiple employees have the same highest salary, include the job titles for all such employees.

Tables: worker, title

  

worker

\---------------------------------

department    : VARCHAR

first\_name    : VARCHAR

joining\_date  : DATETIME2

last\_name     : VARCHAR

salary        : BIGINT

worker\_id     : BIGINT

  

  

title

\---------------------------------

affected\_from   : DATETIME2

worker\_ref\_id   : BIGINT

worker\_title    : VARCHAR

In [ ]:
WITH max_salary AS (
    SELECT MAX(salary) AS highest_salary
    FROM worker)


SELECT t.worker_title
FROM worker w
JOIN title t
ON w.worker_id = t.worker_ref_id
JOIN max_salary ms ON w.salary = ms.highest_salary
ORDER BY salary DESC;