# Bikes Last Used

Last Updated: February 2025

DoorDash

Lyft

EasyID 10176

329

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

Find the last time each bike was in use. Output both the bike number and the date-timestamp of the bike's last use (i.e., the date-time the bike was returned). Order the results by bikes that were most recently used.

Table: dc\_bikeshare\_q1\_2012

  

bike\_number      : VARCHAR

duration         : VARCHAR

duration\_seconds : BIGINT

end\_station      : VARCHAR

end\_terminal     : BIGINT

end\_time         : DATETIME2

id               : BIGINT

rider\_type       : VARCHAR

start\_station    : VARCHAR

start\_terminal   : BIGINT

start\_time       : DATETIME2

* * *

In [ ]:
SELECT bike_number, MAX(end_time) FROM dc_bikeshare_q1_2012
GROUP BY bike_number
ORDER BY MAX(end_time) DESC;