#  Election Results

Last Updated: February 2025

Deloitte

Google

MediumID 2099

155

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

The election is conducted in a city and everyone can vote for one or more candidates, or choose not to vote at all. Each person has 1 vote so if they vote for multiple candidates, their vote gets equally split across these candidates. For example, if a person votes for 2 candidates, these candidates receive an equivalent of 0.5 vote each. Some voters have chosen not to vote, which explains the blank entries in the dataset.

Find out who got the most votes and won the election. Output the name of the candidate or multiple names in case of a tie. To avoid issues with a floating-point error you can round the number of votes received by a candidate to 3 decimal places.

Table: voting\_results

  

### voting\_results

candidate:   varchar

voter:   varchar

In [ ]:
WITH vote_share AS(
    SELECT voter, COUNT(candidate) AS total_votes
    FROM voting_results
    GROUP BY voter
)

SELECT TOP 1 v.candidate
FROM voting_results v
JOIN vote_share vs
ON vs.voter = v.voter
GROUP BY v.candidate
ORDER BY ROUND(SUM((1.0 / NULLIF(vs.total_votes, 0))), 3) DESC;