# Number of violations

Last Updated: February 2025

City of San Francisco

EasyID 9728

83

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

You are given a dataset of health inspections that includes details about violations. Each row represents an inspection, and if an inspection resulted in a violation, the `violation_id` column will contain a value.

Count the total number of violations that occurred at **'Roxanne Cafe'** for each year, based on the inspection date. Output the year and the corresponding number of violations in ascending order of the year.

Table: sf\_restaurant\_health\_violations

  

sf\_restaurant\_health\_violations

\--------------------------------------------------------------

business\_address          : VARCHAR

business\_city            : VARCHAR

business\_id              : BIGINT

business\_latitude        : FLOAT

business\_location        : VARCHAR

business\_longitude       : FLOAT

business\_name            : VARCHAR

business\_phone\_number    : FLOAT

business\_postal\_code     : FLOAT

business\_state           : VARCHAR

inspection\_date         : DATETIME2

inspection\_id           : VARCHAR

inspection\_score        : FLOAT

inspection\_type         : VARCHAR

risk\_category           : VARCHAR

violation\_description   : VARCHAR

violation\_id            : VARCHAR

In [ ]:
SELECT YEAR(inspection_date), COUNT(violation_id)
FROM sf_restaurant_health_violations
WHERE business_name = 'Roxanne Cafe'
GROUP BY YEAR(inspection_date)
ORDER BY YEAR(inspection_date) ASC;