# Highly Reviewed Hotels

Last Updated: February 2025

Amadeus

Expedia

Airbnb

EasyID 9871

4

Data Engineer

Data Scientist

BI Analyst

Data Analyst

* * *

List all hotels with their total number of reviews. Show the results sorted by the number of reviews from highest to lowest and output the hotel name along with the reviews.

Table: hotel\_reviews  

  

additional\_number\_of\_scoring              : BIGINT

average\_score                             : FLOAT

days\_since\_review                         : VARCHAR

hotel\_address                             : VARCHAR

hotel\_name                                : VARCHAR

lat                                       : FLOAT

lng                                       : FLOAT

negative\_review                           : VARCHAR

positive\_review                           : VARCHAR

review\_date                               : DATETIME2

review\_total\_negative\_word\_counts        : BIGINT

review\_total\_positive\_word\_counts        : BIGINT

reviewer\_nationality                      : VARCHAR

reviewer\_score                            : FLOAT

tags                                      : VARCHAR

total\_number\_of\_reviews                   : BIGINT

total\_number\_of\_reviews\_reviewer\_has\_given: BIGINT

SELECT DISTINCT(hotel\_name), total\_number\_of\_reviews FROM hotel\_reviews

ORDER BY total\_number\_of\_reviews DESC;