# Reviews of Hotel Arena

Last Updated: February 2025

Expedia

Airbnb

EasyID 10166

146

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

Find how many reviews exist for each review score given to 'Hotel Arena'. Output the hotel name ('Hotel Arena'), each review score, and the number of reviews for that score. Ensure the results only include 'Hotel Arena.'

Table: hotel\_reviews

  

hotel\_reviews

\--------------------------------------------------------------

additional\_number\_of\_scoring               : BIGINT

average\_score                              : FLOAT

days\_since\_review                          : VARCHAR

hotel\_address                              : VARCHAR

hotel\_name                                 : VARCHAR

lat                                        : FLOAT

lng                                        : FLOAT

negative\_review                            : VARCHAR

positive\_review                            : VARCHAR

review\_date                                : DATETIME2

review\_total\_negative\_word\_counts         : BIGINT

review\_total\_positive\_word\_counts         : BIGINT

reviewer\_nationality                       : VARCHAR

reviewer\_score                             : FLOAT

tags                                       : VARCHAR

total\_number\_of\_reviews                    : BIGINT

total\_number\_of\_reviews\_reviewer\_has\_given : BIGINT

In [ ]:
SELECT hotel_name, reviewer_score, COUNT(*) AS count
FROM hotel_reviews
WHERE hotel_name = 'Hotel Arena'
GROUP BY hotel_name, reviewer_score;