# Order Details

Last Updated: February 2025

Shopify

Amazon

EasyID 9913

220

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

Find order details made by Jill and Eva. Consider the Jill and Eva as first names of customers. Output the order date, details and cost along with the first name. Order records based on the customer id in ascending order.

Tables: customers, orders

  

customers

\---------------------------------

address       : VARCHAR

city          : VARCHAR

first\_name    : VARCHAR

id            : BIGINT

last\_name     : VARCHAR

phone\_number  : VARCHAR

  

orders

\---------------------------------

cust\_id          : BIGINT

id               : BIGINT

order\_date       : DATETIME2

order\_details    : VARCHAR

total\_order\_cost : BIGINT

In [ ]:
SELECT c.first_name, o.order_date, o.order_details, o.total_order_cost 
FROM orders AS o
LEFT JOIN customers AS c
ON o.cust_id = c.id
WHERE c.first_name = 'Jill' OR c.first_name = 'Eva'
ORDER BY o.cust_id;