# Lyft Driver Wages

Last Updated: February 2025

Lyft

EasyID 10003

102

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

Find all Lyft drivers who earn either equal to or less than 30k USD or equal to or more than 70k USD. Output all details related to retrieved records.

Table: lyft\_drivers

  

lyft\_drivers

\---------------------------------

end\_date       : DATETIME2

index          : BIGINT

start\_date     : DATETIME2

yearly\_salary  : BIGINT

In [ ]:
SELECT * 
FROM lyft_drivers
WHERE yearly_salary <= 30000 OR yearly_salary >= 70000;