# Share of Active Users

Last Updated: February 2025

Meta

MediumID 2005

89

Data Engineer

Data Scientist

BI Analyst

Data Analyst

* * *

Output share of US users that are active. Active users are the ones with an "open" status in the table `fb_active_users`.

Table: fb\_active\_users

  

fb\_active\_users

\---------------------------------

country   : VARCHAR

name      : VARCHAR

status    : VARCHAR

user\_id   : BIGINT

In [ ]:
WITH num AS (
    SELECT COUNT(DISTINCT user_id) AS open_users
    FROM fb_active_users
    WHERE status = 'open'
),
denom AS (
    SELECT COUNT(DISTINCT user_id) AS total_users
    FROM fb_active_users
)

SELECT (num.open_users / denom.total_users)
FROM num, denom;