# Most Profitable Financial Company

Last Updated: February 2025

Forbes

EasyID 9663

132

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

Find the most profitable company from the financial sector. Output the result along with the continent.

Table: forbes\_global\_2010\_2014

  

forbes\_global\_2010\_2014

\--------------------------------------

assets        : FLOAT

company       : VARCHAR

continent     : VARCHAR

country       : VARCHAR

industry      : VARCHAR

market\_value  : FLOAT

profits       : FLOAT

rank          : BIGINT

sales         : FLOAT

sector        : VARCHAR

In [ ]:
SELECT TOP 1 company, continent 
FROM forbes_global_2010_2014
WHERE sector = 'Financials'
ORDER BY profits DESC;