# Salary by Education

Last Updated: October 2024

Google

EasyID 2100

42

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

Given the education levels and salaries of a group of individuals, find what is the average salary for each level of education.

  

### google\_salaries

department   : VARCHAR

education    : VARCHAR

first\_name   : VARCHAR

id           : BIGINT

last\_name    : VARCHAR

salary       : BIGINT

In [ ]:
SELECT education, AVG(salary) FROM google_salaries
GROUP BY education;