# Salaries Differences

Last Updated: February 2025

LinkedIn

Dropbox

EasyID 10308

847

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

Calculates the difference between the highest salaries in the marketing and engineering departments. Output just the absolute difference in salaries.

Tables: db\_employee, db\_dept

  

db\_employee

\---------------------------------

department\_id  : BIGINT

first\_name     : VARCHAR

id             : BIGINT

last\_name      : VARCHAR

salary         : BIGINT

  

db\_dept

\---------------------------------

department     : VARCHAR

id             : BIGINT

In [ ]:
WITH max_sal AS (
    SELECT d.department, MAX(salary) as max_salary
    FROM db_employee AS e
    JOIN db_dept AS d
    ON e.department_id = d.id
    WHERE d.department IN ('engineering', 'marketing')
    GROUP BY d.department
)

SELECT ABS(
    (SELECT max_salary FROM max_sal WHERE department = 'engineering') -
    (SELECT max_salary FROM max_sal WHERE department = 'marketing')) AS salary_difference;