# Flags per Video

Last Updated: February 2025

Netflix

Google

MediumID 2102

91

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

Software Engineer

* * *

For each video, find how many unique users flagged it. A unique user can be identified using the combination of their first name and last name. Do not consider rows in which there is no flag ID.

Table: user\_flags

  

  

### user\_flags

flag\_id:   varchar

user\_firstname:   varchar

user\_lastname:   varchar

video\_id:   varchar

In [ ]:
WITH unique_users AS(
    SELECT video_id,
        CONCAT(COALESCE(user_firstname, ''), COALESCE(user_lastname, ''))
        AS user_identifier
    FROM user_flags
    WHERE flag_id IS NOT NULL
)

SELECT video_id,
    COUNT(DISTINCT user_identifier) AS num_unique_users
FROM unique_users
GROUP BY video_id;