# Workers by Department Since April

Last Updated: October 2024

Amazon

EasyID 9847

92

Data Engineer

Data Scientist

BI Analyst

Data Analyst

ML Engineer

* * *

Find the number of workers by department who joined on or after April 1, 2014.

Output the department name along with the corresponding number of workers.

Sort the results based on the number of workers in descending order.

Table: worker

  

department    : VARCHAR

first\_name    : VARCHAR

joining\_date  : DATETIME2

last\_name     : VARCHAR

salary        : BIGINT

worker\_id     : BIGINT

In [ ]:
SELECT department, COUNT(worker_id) AS n_workers FROM worker
    WHERE MONTH(joining_date) > 3
GROUP BY department
ORDER BY n_workers DESC;